.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  max-width: 100vw;
  color: #333;
}

.header_links {
  display: flex;
  gap: 2rem;
}

.header_controls {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.language_switcher {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    padding: 1rem;
  }
  .header_links {
    margin-right: 0.8rem;
    gap: 0.5rem;
  }
  .header_controls {
    gap: 0.5rem;
  }
}
